{% extends 'main/base.html' %}

{% block content %}

<div class="container text-center">
    <form action="options/" method="POST" id="systemForm">
        {% csrf_token %}
        <div class="btn-group-vertical w-75">
            <button type="submit" name="system" value="Amsterdam" form="systemForm" class="btn btn-primary btn-lg btn-block">Amsterdam</button>
            <br>
            <button type="submit" name="system" value="Berlin" form="systemForm" class="btn btn-primary btn-lg btn-block">Berlin</button>
            <br>
            <button type="submit" name="system" value="Edinburgh" form="systemForm" class="btn btn-primary btn-lg btn-block">Edinburgh</button>
            <br>
            <button type="submit" name="system" value="Istanbul" form="systemForm" class="btn btn-primary btn-lg btn-block">Istanbul</button>
            <br>
            <button type="submit" name="system" value="LA" form="systemForm" class="btn btn-primary btn-lg btn-block">LA</button>
            <br>
            <button type="submit" name="system" value="Madrid" form="systemForm" class="btn btn-primary btn-lg btn-block">Madrid</button>
            <br>
            <button type="submit" name="system" value="Melbourne" form="systemForm" class="btn btn-primary btn-lg btn-block">Melbourne</button>
            <br>
            <button type="submit" name="system" value="Paris" form="systemForm" class="btn btn-primary btn-lg btn-block">Paris</button>
            <br>
            <button type="submit" name="system" value="Rio" form="systemForm" class="btn btn-primary btn-lg btn-block">Rio de Janeiro</button>
            <br>
            <button type="submit" name="system" value="Sydney" form="systemForm" class="btn btn-primary btn-lg btn-block">Sydney</button>
            <br>
            <button type="submit" name="system" value="Tokyo" form="systemForm" class="btn btn-primary btn-lg btn-block">Tokyo</button>
        </div>
    </form>
</div>

{% endblock %}