{% extends 'main/base.html' %}

{% block content %}

<div id="container" style="width: 75%;">
<canvas id="myChart"></canvas>
</div>
<script>
var ctx = document.getElementById('myChart').getContext('2d');

var myChart = new Chart(ctx, {
    type: 'bar',

    data: {
        labels: ["Precio Promedio"],
        datasets: [
        {% for n in showData %}
        {
            label: {{ n.0 }},
            data: [{{ n.1 }}],
            backgroundColor: [
                'rgba({{n.2}}, {{n.3}}, {{n.4}}, 0.2)',
            ],
            borderColor: [
                'rgba({{n.2}}, {{n.3}}, {{n.4}}, 1)',
            ],
            borderWidth: 1
        },
        {% endfor %}
        ]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        },
        responsive: true
    }
});
</script>
  </body>
</html>
{% endblock %}