{% extends 'main/base.html' %}
{% block content %}


  <div id="container" >
    <canvas id="myChart" width="600" height="600"></canvas>
  </div>
  
  <script>


var ctx = document.getElementById("myChart").getContext('2d');

var options = {responsive: true, // Instruct chart js to respond nicely.
    maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height 
    
};

// End Defining data
var myChart = new Chart(ctx, {
    type: 'scatter',
    data: {
        datasets: [
            {% for k, v in dictCountries.items %}
            {
                label: "{{k}}", 
                data: [
                    {% for n in v %}
                    {% if forloop.counter0 != 0 %}
                    { x: {{n.0}} , y: {{n.1}} },
                    {% endif %}
                    {% endfor %}
                
                ],
                borderColor: "{{v.0}}",       
                backgroundColor: "{{v.0}}",
            },
            {% endfor %}
        ]
        
    },
    options: options
});


  </script>


{% endblock %}
