{% extends 'main/base.html' %}

{% block content %}

<div id="container" style="width: 75%;">
    <canvas id="myChart"></canvas>
</div>

<div class="container text-center">
    <form action="/citydetail" method="GET" id="cityForm">
        <div class="btn-group-vertical w-75">
            <button type="submit" name="city" value="Amsterdam" form="cityForm" class="btn btn-primary btn-lg btn-block">Am git sterdam</button>
            <br>
            <button type="submit" name="city" value="Berlin" form="cityForm" class="btn btn-primary btn-lg btn-block">Berlin</button>
            <br>
            <button type="submit" name="city" value="Edinburgh" form="cityForm" class="btn btn-primary btn-lg btn-block">Edinburgh</button>
            <br>
            <button type="submit" name="city" value="Istanbul" form="cityForm" class="btn btn-primary btn-lg btn-block">Istanbul</button>
            <br>
            <button type="submit" name="city" value="LA" form="cityForm" class="btn btn-primary btn-lg btn-block">LA</button>
            <br>
            <button type="submit" name="city" value="Madrid" form="cityForm" class="btn btn-primary btn-lg btn-block">Madrid</button>
            <br>
            <button type="submit" name="city" value="Melbourne" form="cityForm" class="btn btn-primary btn-lg btn-block">Melbourne</button>
            <br>
            <button type="submit" name="city" value="Paris" form="cityForm" class="btn btn-primary btn-lg btn-block">Paris</button>
            <br>
            <button type="submit" name="city" value="Rio" form="cityForm" class="btn btn-primary btn-lg btn-block">Rio de Janeiro</button>
            <br>
            <button type="submit" name="city" value="Sydney" form="cityForm" class="btn btn-primary btn-lg btn-block">Sydney</button>
            <br>
            <button type="submit" name="city" value="Tokyo" form="cityForm" class="btn btn-primary btn-lg btn-block">Tokyo</button>
        </div>
    </form>
</div>



<script>
var ctx = document.getElementById('myChart').getContext('2d');

var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Precio Promedio"],
        datasets: [
        {% for n in showData %}
        {
            label: '{{ n.0 }}',
            data: [{{ n.1 }}],
            backgroundColor: [
                'rgba({{n.2}}, {{n.3}}, {{n.4}}, 0.2)',
            ],
            borderColor: [
                'rgba({{n.2}}, {{n.3}}, {{n.4}}, 1)',
            ],
            borderWidth: 1
        },
        {% endfor %}
        ]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        },
        responsive: true
    }
});
</script>

{% endblock %}